/* Training Slider */

.train_css #jspsych-html-slider-response-response::-webkit-slider-runnable-track{
  background: #FAF8F8;
  border: 0;
  height: 30px;


}



.train_css #jspsych-html-slider-response-response::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 35px;
  margin-top: -2.5px;
  background: #F2F1F1;
  border: 1px solid #999999;
  background: #2F84AE;
}





/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .train_css  input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #FAF8F8;
        border: 0;
  height: 30px;
  border: thin solid black;
   border-radius: 8px; 
   width: 600px;
    }
    
  .train_css   input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #6B8FB7;
      margin-top: -1px;
    }
    
   .train_css  input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 30px;
      cursor: ew-resize;
      background: #6B8FB7;
      box-shadow: -600px 0 0 600px #6B8FB7;
    }

}



/* Feedback Slider */

.feed_css #jspsych-html-slider-response-response::-webkit-slider-runnable-track{
  background: #FAF8F8;
  border: 0;
  height: 30px;


}



.feed_css #jspsych-html-slider-response-response::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 35px;
  margin-top: -2.5px;
  background: #6BB76E;
}





/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .feed_css  input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #FAF8F8;
        border: 0;
  height: 30px;
  border: thin solid black;
   border-radius: 8px; 
   width: 600px;
    }
    
  .feed_css   input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #B8A7FC;
      margin-top: -1px;
    }
    
   .feed_css  input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 30px;
      cursor: ew-resize;
      background: #6BB76E;
      box-shadow: -600px 0 0 600px #6BB76E;
    }

}







/* Confidence Ratings */


/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


/* thumb */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf_ins{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;
  margin-left: 25%;

}



.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;

}

#conf1{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#conf2{
  border-left: 0;
}


#conf3{
  border-left: 0;
}

#conf4{
  border-left: 0;
}


#conf5{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



.survey{
  text-align: left;
}


